
/* *{
border: 1px solid black;
}  */
.my_header{
    background-color: #2C3E50;
    height: 100px;
    color: white;
}
/* .my_jumbo{
    height: 500px;
} */
.my_jumbo img{
    width: 50%;
}
.border-row{
    border: 2px solid white;
    width: 20%;
}
.my_portfolio{
    height: 200px;
}
.my_cards{
    height: 400px;
    border-radius: 1rem;
}
.my_cards img{
    width: 100%;
    border-radius: 1rem;
}

.my_about{
    height: 550px;
    
}
.green{
    background-color: #1DBB9A;
    color: white;
}
.my_contact{
    height: 450px;
}
.my_footer_container{
    color: white;
    background-color: #39546D;
    height: 400px;
}
.my_footer_container i{
    border: 1px solid white;
    border-radius: 50%;
    padding: .7rem;
}
.copyright{
    height: 100px;
    background-color: #2C3E50;
}
@media screen and (min-width: 992px){
    .my_wrapper{
        width: 80%;
        margin: 0 auto;
    }
    .my_wrapper-big{
        width: 70%;
        margin: 0 auto;
    }
} 
    
